@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #0D0D0D;
	--secondary-color: #262626;
	--tertiary-color: #cecece;
	--quaternary-color: #F2F2F2;
	--quinary-color: #8C8C8C;
    box-sizing: border-box;
}